DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=reservas
DB_PORT=3307
PORT=3000
JWT_SECRET=contrasenia_secreta

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
CORREO=tu_correo@gmail.com
CLAVE=tu_clave_de_aplicacion
MAIL_FROM="Reservas App <tu_correo@gmail.com>"
ADMIN_EMAIL=admin@correo.com